[phases.setup]
nixPkgs = ["go", "ffmpeg"]
aptPkgs = ["ffmpeg"]

[phases.build]
cmds = [
    "go install -tags 'postgres' github.com/golang-migrate/migrate/v4/cmd/migrate@latest",
    "go build -o bin/server main.go",
    "cp $(go env GOPATH)/bin/migrate bin/migrate",
]

# ランタイムイメージに ffmpeg をインストール
[phases.install]
aptPkgs = ["ffmpeg"]

[start]
cmd = "./bin/migrate -path migrations -database \"$DATABASE_URL\" up && ./bin/server"
