[build]
builder = "nixpacks"

[deploy]
startCommand = "export PATH=$PATH:/app/bin && ./bin/migrate -path migrations -database \"$DATABASE_URL\" up && ./bin/server"
healthcheckPath = "/health"
healthcheckTimeout = 30
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
